* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-family: sans-serif;
  background-color: rgb(207, 208, 209);
}
.container {
display: flex;
 justify-content: center; 
}
.content{
  display: flex;
 justify-content: center; 
  border: 5px solid white;
  border-radius: 12px;
  margin-top: 80px;
}
.section-1 {
    background-color:gainsboro;
    padding-top: 40px; 
    padding-left: 50px;
    padding-right: 50px;
}
.section-1 img{
    width: 400px;
    padding-top: 40px; 
    padding-left: 50px;
    padding-right: 50px;
   
}
.ideas{
  font-size: 24px;
  color:rgb(219, 13, 99);
  font-weight: 800;
  margin-bottom: 4px;
}
.mot{
  font-size: 14px;
  color: rgb(219, 13, 99);
  font-family: Arial, Helvetica, sans-serif
}
.section-2{
    background-color: #fff;
    padding-left: 80px;
    padding-right: 80px;
    
}
.section-2 img {
  width: 40px;
  padding-top: 40px;

}
h1{
  
font-size: 24px;
color: rgb(66, 62, 62);
margin-top: 16px;
letter-spacing: 1.1px;
margin-bottom: 4px;
}
.business-text{
  font-size: 14px;
  color: rgb(61, 60, 60);
  margin-bottom: 16px;
}
.btn{
  width: 250px;
  font-size: 14px;
  text-align: center;
  background-color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgb(245, 239, 239);
  border-radius: 4px;
  margin-bottom: 16px;
  cursor: pointer;
}
svg{
  margin-right: 5px;
}
.email-sign{
  font-size: 14px;
  text-align: center;
  color: rgb(61, 60, 60);
  margin-bottom: 16px;
}
.email{
  font-size: 14px;
  color: rgb(61, 60, 60);
  margin-bottom: 4px;
}
.input-email{
  font-size: 14px;
  color: rgb(61, 60, 60);
  padding-bottom: 8px;
  padding-top: 8px;
  border: 1px solid rgb(245, 239, 239);
  border-radius: 4px;
  margin-bottom: 16px;
 
}
.input-password{
  font-size: 14px;
  color: rgb(61, 60, 60);
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgb(245, 239, 239);
  border-radius: 4px;
  margin-bottom: 16px;
}
.password{
  font-size: 14px;
  color: rgb(61, 60, 60);
  margin-bottom: 4px;
}
.input-email, .input-password{
    width: 250px;
}
.forgot{
 margin-left: 60px;   
 font-size: 14px;
 margin-bottom: 16px; 
}
.remember{
  margin-right: 4px;
}
span{  
 font-size: 14px;
 margin-bottom: 16px; 
}
.login{
  width: 220px;
  background-color: rgb(219, 13, 99);
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 80px;
  color: #fff;
  font-size: 16px;
}
.create-account{
  margin-bottom: 20px;
  font-size: 16px;
}
a{
  text-decoration: none;
}
